@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Noto+Sans+Mono:wght@100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
    --Main-Heading: "Pacifico", cursive;
    --Paragraph-Font: "Quicksand", sans-serif;
    --Home-Intro: "Poppins", sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Skill {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-block: 20px;
}

.skill-alignment {
    display: flex;
    width: 100%;
    position: relative;
    padding-inline: 48px;
}

.skill-line {
    width: 40px;
    position: relative;
}

.dot-of-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border: 2px solid black;
    border-radius: 50%;
    background: white;
    z-index: 2;
}

.dot-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: black;
    z-index: 1;
}

.skill-content {
    width: 100%;
}


.skill-content {
    width: 100%;

}

.skill-set {
    padding-block: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.skill-specification {
    font-family: var(--Main-Heading);
    font-size: 18px;
    padding-block: 10px;

}

.skill-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 70px;
    width: 300px;
    margin-block: 10px;
    margin-inline: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.6s ease-out forwards; 
    animation-delay: 200ms;
}

.skill-language-container {
    display: flex;
    align-items: center;
    margin: 1px;
}

.specific-language-img {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

.skill-container:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#language-name {
    font-family: var(--Paragraph-Font);
    font-weight: 600;
}

#language-full-form {
    font-family: var(--Paragraph-Font);
    font-weight: 200;
    font-size: 14px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .skill-alignment {
        padding-inline: 20px;
    }

    .skill-specification {
        padding-left: 14px;
        line-height: 1;
    }

    .skill-container {
        margin-left: 14px;
        width: 70px;
        border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
        -webkit-border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
        -moz-border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
        -ms-border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
        -o-border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
    }

    #language-name {
        font-size: 14px;
    }

    #language-full-form {
        font-family: var(--Paragraph-Font);
        font-weight: 400;
        font-size: 12px;
    }

    .specific-language-caption {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 480px) and (max-width: 780px) {
    .skill-alignment {
        padding-inline: 20px;
    }

    .skill-specification {
        padding-left: 14px;
        line-height: 1;
    }

    .skill-container {
        margin-left: 14px;
        width: 70px;
        border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
        -webkit-border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
        -moz-border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
        -ms-border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
        -o-border-radius: 0% 100% 0% 100% / 76% 30% 70% 24%;
    }

    #language-name {
        font-size: 14px;
    }

    #language-full-form {
        font-family: var(--Paragraph-Font);
        font-weight: 400;
        font-size: 12px;
    }

    .specific-language-caption {
        display: none;
    }

    #timeline {
    width: 40px;
    position: relative;
    min-height: 100%;
}
}
